* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 350px;
}

.form-box {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin-bottom: 15px;
}

.input-box input {
    width: 100%;
    padding: 10px 40px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

.input-box i {
    position: absolute;
    left: 12px;
    top: 10px;
    color: #555;
}

.toggle {
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 10px;
    background: #2c5364;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #203a43;
}

p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

p span {
    color: #2c5364;
    font-weight: bold;
    cursor: pointer;
}

.hidden {
    display: none;
}

.toggle {
    position: absolute;
    right: 8px;
    top: 10%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle i {
    font-size: 13px;
    color: #555;
}

.toggle i:hover {
    color: #2c5364;
}

.input-box input {
    padding-right: 45px;
}

.messageDiv {
    width: 100%;
    padding: 10px;
    background: #18d375;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    opacity: 0;
    animation: ease-out 7s forwards;
}